@{
    ViewData["Title"] = "Nosotros";
}

<main>
    <h1 class="estilo-h1"><b>Quiénes somos</b></h1>

    <section>
        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda
                optio nobis, quia eveniet tempore quaerat aperiam iste placeat
                aliquam aliquid, architecto eaque iusto eum ad. Facere quia
                doloribus illum nihil?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda
                optio nobis, quia eveniet tempore quaerat aperiam iste placeat
                aliquam aliquid, architecto eaque iusto eum ad. Facere quia
                doloribus illum nihil?
            </p>
        </div>
    </section>
</main>